<ion-header>
  <ion-toolbar>
    <ion-title>events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="../../assets/img/events/events.jpg">
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card (click)="open('felicitation')">
        <img src="../../assets/img/events/felicitation.jpg" >
        <h1>
          Students Felicitation
        </h1>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card (click)="open('parentsmeeting')">
        <img src="../../assets/img/events/parentsmeeting.jpg" >
        <h1>
          Parents Students Meeting
        </h1>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card (click)="open('navratri')">
        <img src="../../assets/img/events/navratri.jpg" >
        <h1>
          Navratri Rass
        </h1>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card (click)="open('diwali-celebration')">
        <img src="../../assets/img/events/diwali-celebration.jpg" >
        <h1>
          Diwali Celebration
        </h1>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card (click)="open('bahubali')">
        <img src="../../assets/img/events/bahubali.jpg" >
        <h1>
          Special Screening Of Bahubali
        </h1>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
