<ion-header>
  <ion-toolbar>
    <ion-title>programs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../assets/img/cources/xixiicet.jpg" >
          <h1>
            XI+XII(CET)
          </h1>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../../assets/img/cources/xiijee.jpg" >
          <h1>
            XII(JEE)
          </h1>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../assets/img/cources/xiicet.jpg" >
          <h1>
            XII(CET)
          </h1>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../../assets/img/cources/xiineet.jpg" >
          <h1>
            XII(NEET)
          </h1>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../assets/img/cources/itfoundation.jpg" >
          <h1>
            IIT-FOUNDATION
          </h1>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../../assets/img/cources/xixiijee.jpg" >
          <h1>
            XI+XII(JEE)
          </h1>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../assets/img/cources/xixiineet.jpg" >
          <h1>
            XI+XII(NEET)
          </h1>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>