<ion-header>
  <ion-toolbar>
    <ion-title>aboutus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/img/events/events.jpg">

  <div>
    <h1>
      Vision
    </h1>
    <p>Our vision is to provide a educational set up that works towards the overall development of students by strengthening the brightest and young minds to achieve and fly high in sky so as to achieve best in their lives.
      At Genius Academy we nurture the students to explore their full potential so as to boost their self-confidence and moral in order to realize their dreams by advanced teaching methodology.</p>
  </div>
  <div>
    <h1>
      Mission
    </h1>
    <p>
      We, at Genius Academy, not only aim at providing you with the best guidance to shape up your career, but also aim at making it immune to the changing scenarios in the career. Among the available wide range of paths to go, we help you explore the ones which best suits your interest and nourish and motivate you to become the best version of yourself. We understand that hard work, when combined with passion and appropriate guidance, can produce results which are everlasting and ever growing. And therefore, we wish to produce individuals who are conscientious, smart and confident enough of making a mark of their multifaceted growth.
    </p>
  </div>
  <div>
    <p>
      Before you start some work, always ask yourself three questions: why I am doing it, What the results might be and Will I be successful. Only when you think deeply and find satisfactory answers to these questions, go ahead.
    </p><p>- Chanakya</p>
  </div>
</ion-content>
