<ion-header>
  <ion-toolbar>
    <ion-title>Timetable</ion-title>
    <ion-datetime slot="end"  displayFormat="MM DD YYYY" placeholder="Select Date"></ion-datetime>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <H2>26-08-2020</H2>
    <ion-row>
      <ion-col size="2.4">
        <ion-item>Time</ion-item>
      </ion-col>
      <ion-col size="2.6">
        <ion-item>Subject</ion-item>
      </ion-col>
      <ion-col size="4.4">
        <ion-item>Topic</ion-item>
      </ion-col>
      <ion-col size="2.4">
        <ion-item>By</ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2.4">
        <ion-item>10:30</ion-item>
      </ion-col>
      <ion-col size="2.6">
        <ion-item>Maths</ion-item>
      </ion-col>
      <ion-col size="4.4">
        <ion-item>Sets</ion-item>
      </ion-col>
      <ion-col size="2.4">
        <ion-item>MBC</ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2.4">
        <ion-item>11:30</ion-item>
      </ion-col>
      <ion-col size="2.6">
        <ion-item>Physics</ion-item>
      </ion-col>
      <ion-col size="4.4">
        <ion-item>Electric Currents</ion-item>
      </ion-col>
      <ion-col size="2.4">
        <ion-item>PHE</ion-item>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>