<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Student Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="intro">
  <img src="../../assets/img/apparna.jpg" class="imageDesign">
<h2>SABYASACHI PARIDA</h2>
<ion-label>FE 71</ion-label>
</div>
<ion-grid class="countArea">
  <ion-row>
    <ion-col size="4">
      <ion-card class="birthday"> 
        <ion-label>Birthdays</ion-label>
        <br>
        <span>1</span>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card class="dailyTask">
        <ion-label>Daily Task</ion-label>
        <br>
        <span>1</span>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card class="weeklyTask">
        <ion-label>Weekly Task</ion-label>
        <br>
        <span>1</span>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <ion-card class="myPerformance">
        <ion-label>My Performance</ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <ion-label>Take a test</ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card class="reshedule">
        <ion-label>Reshedule Announcement</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-slides class="slides">
  <ion-slide class="slide">
    <div>
      <ion-label>
        Maths (Sets) 50Marks
      </ion-label>
      <ion-label>
       <p> Sabyasachi Parida 40/50 </p>
       <p>GA Kalyan (E)</p>
      </ion-label>
    </div>
  </ion-slide>
  <ion-slide class="slide">
    <div>
      <ion-label>
        Test Topic
      </ion-label>
      <ion-label>
       <p> Sabyasachi Parida 40/50 </p>
       <p>GA Kalyan (E)</p>
      </ion-label>
    </div>
  </ion-slide>
</ion-slides>
<div class="countArea">
<h2>Announcements</h2>  
<p>Due to rain all students requested to stay at home</p>
</div>

</ion-content>
