.imageDesign{
    border: #921116 solid 3px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
.countArea {
    background-color: #5fa8bc;
    margin: 10px;
}
.intro{
    text-align: center;
    border-bottom: #882288 3px solid;
padding: 10px;
margin: 10px;
background-color: #5fa8bc;
}
ion-card ion-label{font-size: 11px;}
ion-card{
    text-align: center;
    height: 40px;
    color: black;
    background: #594ec8;
}
ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    font-size: xx-small;
}
.sc-ion-label-md-s > p {
    // color: var(--ion-color-step-600,#666);
    font-size: 13px;
}
.slide {
    background-color: #5fa8bc;
}
.slides{
    margin: 10px;
}