.sliderlogin{
    width: 100%;
    height: 100%;
}
.sliderlogin1{
    width: 100%;
    height: 100%;
    // text-align: center;
}
.iconPro{
    padding-left: 25px;
    padding-right: 25px;
    height: 40px;
    width: 40px;
}
.footerPro{
    background-color: rgb(47, 132, 230);
}
.image-cropper {
    width: 100px;
    height: 100px;
    position: initial;
    overflow: hidden;
    border-radius: 50%;
    margin: 0px auto 27px;
}
.profile-pic {
    border: solid 2px #123343;
    display: inline;
  margin: 0 auto;
//   margin-left: 25%; //centers the image
  height: 100%;
  width: auto;
}