<ion-header>
  <ion-toolbar>
    <ion-title>Our Testimonials</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content> -->
  <ion-slides autoplay="5000" loop="true" speed="300" class="sliderlogin" pager="true">
    <ion-slide class="sliderlogin1">
      <div>
        <div class="image-cropper">
          <img src="../../assets/img/arvind-soman.jpg" alt="avatar" class="profile-pic">
        </div>
        <p>Genius Academy is institution which focuses on clearing all the concepts to it’s core. Genius Academy doing Excellent coaching for both Board pattern and Entrance Exam, High quality study material, constant encouragement, well executed Test Programme, all subjects under one roof helped me to achieve this success!</p>
              <span>Arvind Soman</span><span class="testi-batch">2017-2019</span>
      </div>
    </ion-slide>
    <ion-slide class="sliderlogin1">
      <div>
        <div class="image-cropper">
          <img src="../../assets/img/rohit-nair.jpg" alt="avatar" class="profile-pic">
        </div>
        <p>Genius Academy is an institution which stand for the students so that they may achieve their educational goals. only things a students need to give in return is a liking and readiness to take some work upon their shoulders.</p>
              <span>Rohit Nair</span><span class="testi-batch">2017-2019</span>
      </div>
    </ion-slide>
    <ion-slide class="sliderlogin1">
      <div>
        <div class="image-cropper">
          <img src="../../assets/img/anjali-nair.jpg" alt="avatar" class="profile-pic">
        </div>
        <p>The best part of our studies in Genius Academy is completion of syllabus on time and proper revision of all the topics, because of this my confidence level has increased tremendously.</p>
<span>Anjali Sudhakaran</span>  
<span>2017-2019</span>      
      </div>
    </ion-slide>
    <ion-slide class="sliderlogin1">
      <div>
        <div class="image-cropper">
          <img src="../../assets/img/sreeniket-andhale.jpg" alt="avatar" class="profile-pic">
        </div>
        <p>Genius Academy conduct frequent test in the class which gives us good practice and benefits largely during exams. Doubt solving lecture are made whenever required. I would surely recommend genius academy those who want to excel.</p>
<span>Sreeniket Andhale</span>  
<span>2017-2019</span>      
      </div>
    </ion-slide>
    <ion-slide class="sliderlogin1">
      <div>
        <div class="image-cropper">
          <img src="../../assets/img/rahul-naraynan.jpg" alt="avatar" class="profile-pic">
        </div>
        <p>We had a great experience in genius academy. The teaching staff are really good. . The teachers pay attention to small mistakes of students. Those 2years we were nourished with knowledge and success.</p>
<span>Rahul Narayanan</span>  
<span>2017-2019</span>      
      </div>
    </ion-slide>
    <ion-slide class="sliderlogin1">
      <div>
        <div class="image-cropper">
          <img src="../../assets/img/rishikesh-nambiar.jpg" alt="avatar" class="profile-pic">
        </div>
        <p>We had a great experience. We learnt many things in these two years. Teachers are friendly. They supported us. We score marks as well as created memories.</p>
<span>Rishikesh Nambiar</span>  
<span>2017-2019</span>      
      </div>
    </ion-slide>
    <ion-slide class="sliderlogin1">
      <div>
        <div class="image-cropper">
          <img src="../../assets/img/krishnnuni-ramesh.jpg" alt="avatar" class="profile-pic">
        </div>
        <p>It have been honor studying with Genius Academy. The faculty has thought us to look each questions with different outlooks which help us not only to clear competitive exams but also in future.</p>
<span>Krishnanunni Suresh</span>  
<span>2017-2019</span>      
      </div>
    </ion-slide>
  </ion-slides>
<!-- </ion-content> -->
